<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${WEB_DOMAIN_HOME}/${APP_SERVER_NAME}/logs/CABPRestServer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${WEB_DOMAIN_HOME}/${APP_SERVER_NAME}/logs/CABPRestServer.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>500</maxIndex>
        </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                        <maxFileSize>5MB</maxFileSize>
                </triggeringPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${CABP_REST_LOG_LEVEL}">
        <appender-ref ref="ROLLING" />
    </root>
</configuration>
